/*Use Flexbox to make divs appear as a grid vs a column*/

/*Watchout for borders & margins that will modify size of squares*/
body {
    text-align: center;
}

.buttonStyling {
    margin-bottom: 10px;
    /* background-color: lightcoral; */
    background-color: lightgray;
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

.hoverButton {
    background-color: lightcoral;
}

#container {
    /* background-color: lightcoral; */
    margin: 0 auto;
    max-width: 960px;
}

.row {
    display: flex;
    gap: 5px;
}

.column {
    background-color: lightgray;
    padding: 1rem 0;
    flex: 1;
    margin-bottom: 5px;
}

.hoverColumn {
    background-color: lightcoral;
}

